* {
  font-family: Montserrat;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

.main_container {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .main_container {
    max-width: 1024px;
  }
}
@media (max-width: 767.98px) {
  .main_container {
    max-width: 767.98px;
    padding: 0;
  }
}
