:root {
  font-family: Montserrat;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

#root {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
