.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  .about_container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 417px);
    height: 52px;
    border-radius: 5px;
    color: white;
    background-color: #ff6060;
    .about_title {
      font-size: 24px;
      font-weight: 700;
      padding-left: 10px;
    }
  }
  .about_text {
    display: flex;
    text-align: left;
    align-items: center;
    width: calc(100% - 437px);
    background: #f6f6f6;
    font-size: 12px;
    border-radius: 5px;
    padding: 0px 10px;
  }
}

@media (max-width: 767.98px) {
  .about_container {
    .about_container-title {
      width: calc(100% - 20px);
    }
    .about_text {
      width: calc(100% - 40px);
    }
  }
}
