.cards_container {
  width: calc(100% - 200px);
  border-radius: 25px;
  background: #f6f6f6;
  margin: 40px 0px 0px 100px;
  padding-bottom: 40px;
  .card_image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .text_position {
      position: relative;
      .card_image {
        display: flex;
        object-fit: cover;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        margin-top: 50px;
      }
      .card_title {
        position: absolute;
        z-index: 2;
        bottom: 10%;
        left: 2%;
        width: 300px;
        font-size: 18px;
        height: 0;
        color: white;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .cards_container {
    width: calc(100% - 2px);
    background-color: transparent;
    margin-left: 10px;
    .card_image_container {
      flex-direction: column;
      gap: 20px;
      .text_position {
        position: relative;
        .card_image {
          width: calc(100% - 20px);
          height: 255px;
          margin-top: 10px;
        }
        .card_title {
          position: absolute;
          bottom: 25%;
          width: calc(100% - 150px);
        }
      }
    }
  }
}
