.announcement_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin-left: 100px;
  .description_container {
    display: flex;
    flex-direction: column;
    .announcement_title {
      width: calc(100% - 50px);
      font-size: 36px;
      font-weight: 500;
      color: #ff6060;
      margin-bottom: 5px;
    }
    .announcement_location {
      font-size: 18px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
  .tags_container {
    display: flex;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 115px;
      color: white;
      border-radius: 10px;
      background: #ff6060;
      font-size: 14px;
      font-weight: 700;
      padding: 5px 0px;
    }
  }
  .stars_name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 167px;
      margin-top: 30px;
      .announcement_name {
        font-size: 18px;
        font-weight: 500;
        margin-top: 29.88px;
        color: #ff6060;
      }
      .announcement_profile {
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
    }
    .stars_container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      width: 196px;
      gap: 5px;
      padding-bottom: 20px;
      .star {
        font-size: 24px;
        color: #e3e3e3;
      }
      .red_stars {
        font-size: 24px;
        color: #ff6060;
      }
    }
  }
}

.announcement_equipements {
  display: flex;
  flex-direction: row;
  width: calc(100% - 200px);
  margin-left: 100px;
  gap: 40px;
  .about_container {
    width: calc(100% - 65px);
    align-items: flex-start;
    .about_container-title {
      width: 100%;
      .about_title {
        font-size: 18px;
      }
    }
    .about_text {
      width: calc(100% - 30px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
      font-size: 18px;
      list-style-type: none;
    }
  }
}

@media (max-width: 1024px) {
  .announcement_container {
    .description_container {
      .announcement_title {
        font-size: 28px;
      }
    }
    .tags_container {
      .tag {
        width: 90px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .announcement_container {
    width: calc(100% - 20px);
    flex-direction: column;
    justify-content: initial;
    margin-left: 10px;
    .description_container {
      .announcement_title {
        font-size: 18px;
      }
      .announcement_location {
        font-size: 14px;
      }
    }
    .tags_container {
      width: calc(100% - 20px);
      gap: 10px;
      .tag {
        width: 84px;
        font-size: 10px;
      }
    }
    .stars_name-container {
      flex-direction: row;
      margin-top: 30px;
      .profile {
        width: 100px;
        margin-top: 0px;
        .announcement_name {
          font-size: 12px;
          margin-top: 0px;
          text-align: center;
          margin-bottom: 0px;
        }

        .announcement_profile {
          width: 32px;
          height: 32px;
        }
      }
      .stars_container {
        justify-content: flex-start;
        align-items: center;
        order: -1;
        padding-bottom: 5px;
        .star {
          font-size: 18px;
          color: #e3e3e3;
        }
        .red_stars {
          font-size: 18px;
          color: #ff6060;
        }
      }
    }
  }

  .announcement_equipements {
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 20px);
    margin-left: 10px;
    .about_container {
      width: 100%;
      .about_container-title {
        height: 30px;
        .about_title {
          font-size: 13px;
          font-weight: 700;
        }
        .chevron_up {
          font-size: 16px;
        }
      }
    }
  }
}
