.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(1440px - 100px);
  max-width: 1440px;
  height: 209px;
  background: #000000;
  .footer_logo {
    margin-top: 50px;
  }
  .footer_txt {
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;
    color: white;
  }
}
