.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin-top: 20px;
  height: 68px;
  margin-left: 100px;
  .logo {
    display: flex;
    width: 210.32px;
  }
  .header_link {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    gap: 57px;
  }
  .header_line {
    border-bottom: solid black 1px;
  }
  .hidden_line {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header_container {
    margin-left: 10px;
    width: calc(100% - 20px);

    .logo {
      width: 145px;
      height: 46.88px;
    }
    .header_link {
      font-size: 12px;
      gap: 26px;
      padding-right: 10px;
    }
  }
}
