* {
  font-family: Montserrat;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

.main_container {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .main_container {
    max-width: 1024px;
  }
}
@media (max-width: 767.98px) {
  .main_container {
    max-width: 767.98px;
    padding: 0;
  }
}
:root {
  --main_color: #ff6060;
  --second_color: #f6f6f6;
}

.banner_container {
  display: flex;
  margin: 50px 0px 0px 100px;
  width: calc(100% - 200px);
  border-radius: 25px;
  border: 1px solid #000000;
  position: relative;
}
.banner_container .banner_img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 223px;
  filter: brightness(60%);
}
.banner_container .banner_txt {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-size: 48px;
  font-weight: 700;
  width: calc(100% - 300px);
}

@media (max-width: 767.98px) {
  .banner_container {
    width: calc(100% - 20px);
    margin: 20px 0px 150px 10px;
    height: 111px;
  }
  .banner_container .banner_txt {
    font-size: 24px;
    top: 70%;
    width: calc(100% - 100px);
  }
}
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin-top: 20px;
  height: 68px;
  margin-left: 100px;
}
.header_container .logo {
  display: flex;
  width: 210.32px;
}
.header_container .header_link {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  gap: 57px;
}
.header_container .header_line {
  border-bottom: solid black 1px;
}

@media (max-width: 767.98px) {
  .header_container {
    margin-left: 10px;
    width: calc(100% - 20px);
  }
  .header_container .logo {
    width: 145px;
    height: 46.88px;
  }
  .header_container .header_link {
    font-size: 12px;
    gap: 26px;
    padding-right: 10px;
  }
}
.cards_container {
  width: calc(100% - 200px);
  border-radius: 25px;
  background: #f6f6f6;
  margin: 40px 0px 0px 100px;
  padding-bottom: 40px;
}
.cards_container .card_image_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.cards_container .card_image_container .text_position {
  position: relative;
}
.cards_container .card_image_container .text_position .card_image {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin-top: 50px;
}
.cards_container .card_image_container .text_position .card_title {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 2%;
  width: 300px;
  font-size: 18px;
  height: 0;
  color: white;
}

@media (max-width: 767.98px) {
  .cards_container {
    width: 100%;
    background-color: transparent;
    margin-left: 10px;
  }
  .cards_container .card_image_container {
    flex-direction: column;
    gap: 20px;
  }
  .cards_container .card_image_container .text_position {
    position: relative;
  }
  .cards_container .card_image_container .text_position .card_image {
    width: calc(100% - 20px);
    height: 255px;
    margin-top: 10px;
  }
  .cards_container .card_image_container .text_position .card_title {
    position: absolute;
    bottom: 30%;
    width: calc(100% - 150px);
  }
}
.error_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
}
.error_container .error_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 597px;
  height: 263px;
  font-size: 288px;
  font-weight: 700;
  color: #ff6060;
  margin: 100px 0;
}
.error_container .error_txt {
  display: flex;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  color: #ff6060;
  margin-bottom: 100px;
}
.error_container .error_link {
  font-size: 18px;
  font-weight: 500;
  border-bottom: solid 1px black;
}

@media (max-width: 767.98px) {
  .error_container .error_title {
    font-size: 96px;
  }
  .error_container .error_txt {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 100px);
  max-width: 1440px;
  height: 209px;
  background: #000000;
  margin-left: 50px;
}
.footer_container .footer_logo {
  margin-top: 50px;
}
.footer_container .footer_container-txt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_container .footer_container-txt .footer_copyright {
  color: white;
  padding-right: 10px;
  font-size: 16px;
}
.footer_container .footer_container-txt .footer_txt {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: white;
}

@media (max-width: 767.98px) {
  .footer_container {
    width: 100%;
    margin-left: 0px;
  }
  .footer_container .footer_logo {
    width: 122px;
    height: 39.44px;
  }
  .footer_container .footer_container-txt .footer_copyright {
    display: flex;
    font-size: 10px;
    padding-right: 0px;
    padding-bottom: 13px;
  }
  .footer_container .footer_container-txt .footer_txt {
    display: flex;
    align-items: center;
    width: 133.59px;
    height: 46px;
    font-size: 12px;
    font-weight: 500;
  }
}
.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.about_container .about_container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 417px);
  height: 52px;
  border-radius: 5px;
  color: white;
  background-color: #ff6060;
}
.about_container .about_container-title .about_title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
}
.about_container .about_container-title .chevron_down {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.about_container .about_container-title .chevron_up {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.about_container .about_text {
  display: flex;
  text-align: left;
  align-items: center;
  width: calc(100% - 437px);
  background: #f6f6f6;
  font-size: 12px;
  border-radius: 5px;
  padding: 0px 10px;
}

@media (max-width: 767.98px) {
  .about_container .about_container-title {
    width: calc(100% - 20px);
  }
  .about_container .about_text {
    width: calc(100% - 40px);
  }
}
.announcement_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin-left: 100px;
}
.announcement_container .description_container {
  display: flex;
  flex-direction: column;
}
.announcement_container .description_container .announcement_title {
  width: calc(100% - 50px);
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin-bottom: 5px;
}
.announcement_container .description_container .announcement_location {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}
.announcement_container .tags_container {
  display: flex;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.announcement_container .tags_container .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 115px;
  color: white;
  border-radius: 10px;
  background: #ff6060;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0px;
}
.announcement_container .stars_name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.announcement_container .stars_name-container .announcement_name {
  display: flex;
  width: 167px;
  height: 52px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 29.88px;
  text-align: right;
  color: #ff6060;
}
.announcement_container .stars_name-container .announcement_name .circle {
  width: 64px;
  font-size: 50px;
  color: #c4c4c4;
  margin-left: 10px;
}
.announcement_container .stars_name-container .stars_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 196px;
  gap: 5px;
  padding-bottom: 20px;
}
.announcement_container .stars_name-container .stars_container .star {
  font-size: 24px;
  color: #e3e3e3;
}
.announcement_container .stars_name-container .stars_container .red_stars {
  font-size: 24px;
  color: #ff6060;
}

.announcement_equipements {
  display: flex;
  flex-direction: row;
  width: calc(100% - 200px);
  margin-left: 100px;
  gap: 40px;
}
.announcement_equipements .about_container {
  width: calc(100% - 65px);
  align-items: flex-start;
}
.announcement_equipements .about_container .about_container-title {
  width: 100%;
}
.announcement_equipements .about_container .about_container-title .about_title {
  font-size: 18px;
}
.announcement_equipements .about_container .about_text {
  width: calc(100% - 20px);
}

@media (max-width: 768px) {
  .announcement_container {
    width: calc(100% - 20px);
    flex-direction: column;
    justify-content: initial;
    margin-left: 10px;
  }
  .announcement_container .description_container .announcement_title {
    font-size: 18px;
  }
  .announcement_container .description_container .announcement_location {
    font-size: 14px;
  }
  .announcement_container .tags_container {
    width: calc(100% - 20px);
    gap: 10px;
  }
  .announcement_container .tags_container .tag {
    width: 84px;
    font-size: 10px;
  }
  .announcement_container .stars_name-container {
    flex-direction: row;
  }
  .announcement_container .stars_name-container .announcement_name {
    width: 100px;
    height: 33px;
    font-size: 12px;
    text-align: right;
  }
  .announcement_container .stars_name-container .announcement_name .circle {
    width: 32px;
    font-size: 32px;
  }
  .announcement_container .stars_name-container .stars_container {
    justify-content: flex-start;
    align-items: center;
    order: -1;
  }
  .announcement_equipements {
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 20px);
    margin-left: 10px;
  }
  .announcement_equipements .about_container {
    width: 100%;
  }
  .announcement_equipements .about_container .about_container-title {
    height: 30px;
  }
  .announcement_equipements .about_container .about_container-title .about_title {
    font-size: 13px;
    font-weight: 700;
  }
  .announcement_equipements .about_container .about_container-title .chevron_up {
    font-size: 16px;
  }
}
.carousel_container {
  display: flex;
  width: calc(100% - 200px);
  height: 415px;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 100px;
  position: relative;
}
.carousel_container .carousel_images {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel_container .chevron-right {
  position: absolute;
  z-index: 2;
  font-size: 80px;
  right: 5%;
  top: 40%;
  color: white;
  cursor: pointer;
}
.carousel_container .chevron-left {
  position: absolute;
  z-index: 2;
  font-size: 80px;
  top: 40%;
  left: 4%;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .carousel_container {
    width: calc(100% - 20px);
    height: 255px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */